.side-bar
  .side-bar__current-user
    .top-items
      %p.top-items__user-name
        =current_user.name
      %ul.top-items__icons
        =link_to new_group_path do
          =icon('far fa-edit', class: "top-items__icons--edit-account")
        =link_to edit_user_path(current_user) do
          =icon('fas fa-cog', class: "top-items__icons--new-group")
  .side-bar__group-list
    .groups
      - current_user.groups.each do |group|
        .group
          =link_to "#" do
            .group__name
              = group.name 
            .group__latest-message 
              メッセージはまだありません。