.side-bar
  .side-bar__current-user
    .top-items
      %p.top-items__user-name
        =current_user.name
      %ul.top-items__icons
        =link_to "#" do
          =icon('far fa-edit', class: "top-items__icons--edit-account")
        =link_to edit_user_path(current_user) do
          =icon('fas fa-cog', class: "top-items__icons--new-group")
  .side-bar__group-list
    .groups
      .group
        =link_to "#" do
          %p.group__name 
            test
          %p.group__latest-message 
            メッセージはまだありません